html, body{
    height: 100%;
    width:100%;

}
#introcontainer{

}

.special{
    text-shadow: 7px 7px #0000002e;
}
/* 
.text-columns{
    display: flex;
    flex-flow: row nowrap;
}

    .text-columns p{
        flex: 50%;
    } */