html, body{
    height: 100%;
    width:100%;
}
#introcontainer{

}

.special{
    text-shadow: 7px 7px #0000002e;
}

.floating-arrow{
    z-index: 9999;
    font-size: 3em;
    position: fixed;
    bottom: 104px;
    right: 42px;
    color: white;
}

.transient section p,
.transient section a,
ol li{
    color: white;
    font-size: 1.4em;
    letter-spacing: 1px;
}

.border{
    padding: 1em;
    border: 1px solid white;
    padding-left: 3em;
}
/* 
.text-columns{
    display: flex;
    flex-flow: row nowrap;
}

    .text-columns p{
        flex: 50%;
    } */