body {
  font: 1em "Work Sans", Georgia, Times, serif;
  line-height: 1.5;
}

a {
  color: #00B7FF;
}
h1{
  font-family: "Roboto", Georgia, Times, serif;
}
p{
  font-weight: 300;
}

/*End Element Styles*/

/*Class Styles*/
  /*Structural Stuff*/
  .column{
    width: 75%;
    margin: 0px auto;
  }
  .menucontainer{
    margin: 5em auto;
    max-width: 90%;
    width: 40em;
  }
  .titlecard{
  }
    .titlecard h1{
      font-size: 2em;
      color: black;
    }
    .logo img{
      max-width: 430px;
      height: auto;
      margin: 0px auto;
      display: block;
    }
  /*End Structural Stuff*/
  /*Details*/
  /*End Details*/
/*End Class Styles*/