textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

#shade{
    background-color: rgb(16, 5, 68);
    opacity: 1.0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

#introcontainer{
    background: rgb(39, 69, 114);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* animation: colorchange 15s;
    animation-iteration-count:infinite;
    -webkit-animation: colorchange 15s;
    -webkit-animation-iteration-count:infinite; */
}

#alertcontainer{
    background: rgb(39, 69, 114);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* animation: colorchange 15s;
    animation-iteration-count:infinite;
    -webkit-animation: colorchange 15s;
    -webkit-animation-iteration-count:infinite; */
    display: none;
    opacity: 0.0;
}

.transient section{
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.text-column{
    flex-flow: column nowrap;
}

.transient section p,
.transient section a{
    color: white;
    font-size: 1.5em;
}

#detailhost{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(87, 87, 87, 0.308);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}
#inputhost{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(244, 244, 244, 0.86);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}
.inputcontainer{
    width: 80%;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 10%;
}
.inputcontainer p{
    font-family: "ibm-plex-sans", Georgia, Times, serif;
    font-size: 1.5em;
    color: rgb(39, 69, 114);
}
.inputcontainer input{
    border: 1px solid rgb(39, 69, 114);
    border-radius: 2px;
    color: rgb(39, 69, 114);
    font-family: "ibm-plex-sans", Georgia, Times, serif;
}
.inputcontainer textarea {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: rgb(39, 69, 114);
    font-family: "ibm-plex-sans", Georgia, Times, serif;
    resize: none;
}

.detailpane{
    width: 50%;
    height: 50%;
    
    position: fixed;
    top: 25%;
    left: 25%;
    background: white;
    border: 1px solid black;
    flex-flow: flex column;
}

    .detailpane .object-detail{
        width: 100%;
        height: 100%;
        padding: 8px;
    }

    .detailpane .lgimg{
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

.bottom-form{
    flex-flow: row nowrap;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
    .bottom-form div{
        display: inline-block;
    }

a{
    cursor: pointer;
}
.go-button a{
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid white;
    padding: 14px;
    border-radius: 2px;
}

.go-button a.disabled{
    opacity: 0.5;
    cursor: default;
}

.go-button a:active{
    background: white;
    color: rgb(39, 69, 114);
}

.form-field input{
    color: white;
    font-size: 1.5em;
    padding: 8px;
    background: transparent;
    border: none;
    font-weight: 300;
}

#rerun-instructions{
    position: fixed;
    z-index: 9997;
    top: 8px;
    left: 8px;
}

.gridhost{
    margin: auto;
}


#submit-all{
    margin-left: -50%;
    position: fixed;
    width: 100%;
    left: 50%;
    z-index: 9997;
    bottom: 2px;
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
}

    #submit-all:hover, #submit-all:active{
        color: white;
        background: cornflowerblue;
        border: 1px solid blue;
    }

.submit{
    color: rgb(39, 69, 114);;
    font-size: 1.5em;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid rgb(39, 69, 114);;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 2px;
    float: right;
    margin-top: 8px;
}

    .submit:hover, .submit:active{
        color: rgb(39, 69, 114);
        background: grey;
    }
.object-main br{
    display: none;
}

.form-field input:focus{
}

@keyframes colorchange
{
  0%   {
      background: rgb(158, 49, 49);
    }
  25%  {
      background: rgb(207, 181, 31);
    }
  50%  {
      background: rgb(56, 34, 182);
    }
  75%  {
      background: rgb(33, 92, 33);
    }
  100% {
      background: rgb(158, 49, 49);;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1.0;
    }
    80%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.0;
    }
}

@keyframes fadein{
    0%{
        opacity: 0.0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1.0;
    }
}

@keyframes btnpulse{
    0%{
        filter: blur(0px);
    }
    20%{
        filter: blur(4px);
    }
    100%{
        filter: blur(0px);
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}


@media screen and (max-width: 1150px){
    #objecthost .gridhost {
        width: 80%;
    }
    .object-main{
        padding: 6px;
    }
    
}

@media screen and (max-height: 800px){
}
@media screen and (max-width: 900px){
    #objecthost .gridhost {
        width: 90%;
    }
    /* .object-main .object-name{
        display: none;
    } */

}

@media screen and (max-width: 600px){
    #objecthost .gridhost {
        width: 95%;
    }

    .object-main{
        padding: 4px;
    }

    #submit-all{
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 9997;
        bottom: 0;
        background: rgb(56, 34, 182);
        margin-left: 0;
        text-align: center;
        font-size: 1.5em;
        padding: 8px;
    }

}
