textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

#shade{
    background-color: rgb(16, 5, 68);
    opacity: 1.0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

#introcontainer{
    background: rgb(158, 49, 49);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: colorchange 15s;
    animation-iteration-count:infinite;
    -webkit-animation: colorchange 15s;
    -webkit-animation-iteration-count:infinite;
}

#messages{
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

.text-column{
    flex-flow: column nowrap;
}

#messages p,
#messages a{
    color: white;
    font-size: 1.5em;
}

#detailhost{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(87, 87, 87, 0.308);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
}
.detailpane{
    width: 50%;
    height: 50%;
    
    position: fixed;
    top: 25%;
    left: 25%;
    background: white;
    border: 1px solid black;
    flex-flow: flex column;
}

    .detailpane .object-detail{
        width: 100%;
        height: 100%;
        padding: 8px;
    }

    .detailpane .lgimg{
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }

.bottom-form{
    flex-flow: row nowrap;
    display: inline-block;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid white;
    padding: 8px;
    border-radius: 2px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}
    .bottom-form div{
        display: inline-block;
    }

a{
    cursor: pointer;
}
.go-button a{
    padding-left: 6px;
}

.go-button a.disabled{
    opacity: 0.5;
    cursor: default;
}

.form-field input{
    color: white;
    font-size: 1.5em;
    padding: 8px;
    background: transparent;
    border: none;
    font-weight: 300;
}

#rerun-instructions{
    position: fixed;
    z-index: 9997;
    top: 8px;
    left: 8px;
}


#submit-all{
    position: fixed;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    z-index: 9997;
    bottom: 0;
    background: rgb(33, 92, 33);
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
    color: white;
}

.form-field input:focus{
}

@keyframes colorchange
{
  0%   {
      background: rgb(158, 49, 49);
    }
  25%  {
      background: rgb(207, 181, 31);
    }
  50%  {
      background: rgb(56, 34, 182);
    }
  75%  {
      background: rgb(33, 92, 33);
    }
  100% {
      background: rgb(158, 49, 49);;
    }
}

@keyframes fadeout{
    0%{
        opacity: 1.0;
    }
    80%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.0;
    }
}

@keyframes fadein{
    0%{
        opacity: 0.0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1.0;
    }
}

@keyframes btnpulse{
    0%{
        filter: blur(0px);
    }
    20%{
        filter: blur(4px);
    }
    100%{
        filter: blur(0px);
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}


@media screen and (max-width: 1150px){
    #objecthost .gridhost {
        width: 80%;
    }
    .object-main{
        padding: 6px;
    }
    
}
@media screen and (max-width: 900px){
    #objecthost .gridhost {
        width: 90%;
    }
    .object-main .object-name{
        display: none;
    }
}

@media screen and (max-width: 600px){
    #objecthost .gridhost {
        width: 95%;
    }

    .object-main{
        padding: 4px;
    }

    #submit-all{
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 9997;
        bottom: 0;
        background: rgb(56, 34, 182);
        margin-left: 0;
        text-align: center;
        font-size: 1.5em;
        padding: 8px;
    }

}
